language: python
sudo: false
matrix:
  include:
    - python: "3.7"
      dist: xenial
    - python: "3.6"
      dist: xenial
    - python: "3.5"
      dist: xenial
    - python: "3.4"
      dist: xenial
    - python: "2.7"
      dist: xenial
    - python: "pypy"
      dist: trusty
    - python: "pypy3"
      dist: trusty
branches:
  only:
    - develop
install:
  - "pip install ."
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install coveralls check-manifest flake8 Sphinx; fi"
script:
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then check-manifest; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then flake8; fi"
  - "pushd doc"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then make html; fi"
  - "popd"
  - "pushd test"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then coverage run --source=latexcodec `type -p nosetests`; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION != '2.7' ]]; then nosetests; fi"
  - "popd"
after_success:
  - "pushd test"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then coveralls; fi"
  - "popd"
