include VERSION
include README.rst
include INSTALL.rst
include CHANGELOG.rst
include LICENSE.rst
include AUTHORS.rst
include requirements.txt
include tox.ini
recursive-include doc *
recursive-include test *
global-exclude *.pyc
global-exclude .gitignore
prune doc/_build
exclude .travis.yml
